/*DEFAULT VALUES*/
*{
  margin: 0px;
  padding: 0px;
  border: none;
  font-family: Tuffy;
  font-size: .83vw;
  outline: 0;
}


/*MASCOT/WAIFU*/
#mascot{
  position: sticky;
  bottom: 0%;
  float: right;
  margin-top: .7em;
  max-width: 20%;
  width: 100%;
  margin-block-end: -500vh;
  transition: .3s;
}
#mascot img{
  display: block;
  width: 100%;
}
#mascot:hover{
  margin-top: -20%;
}


/*BACKGROUND IMAGES, SEE randomback.js!*/
#back{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 .2em 1em black;
  min-height: 98.5vh;
  overflow: hidden;
}
body{
  background-color: black;
  background-image: url(trans/dark_tex.jpg);
  background-repeat: repeat;
  background-position: top left;
  background-size: 5.261%;
}


/*FONTS AND TEXT FORMATTING*/
@font-face{
  font-family: Tuffy; src: url('fonts/Tuffy.ttf');
}
#main_section a, a:visited{
  color: black;
  text-decoration: none;
}
#main_section a:hover, #main_section a:active{
  color: black;
  text-decoration: none;
}
.buttonLine{
  width: 96%;
  margin-left: 2%;
  padding-top: .2em;
  overflow: hidden;
  background-color: rgba(255,255,255,0.25);
  border-radius: 1em;
  -webkit-border-radius: 1em;
  color: black;
  font-family: Tuffy;
  font-weight: bold;
}
#main_section2 a, #main_section2 a:hover, #main_section2 a:active{
  color: #999;
  text-decoration: none;
}
li a{
  text-decoration: underline;
}



/*HOW THE SPEEDDIAL PAGE RENDERS*/
#main_section{
  margin: auto;
  max-width: 50%;
  height: min-content;
  height: -moz-min-content;
  height: -webkit-min-content;
  display: flex;
  flex-wrap: wrap;
  padding-top: 4em;
  opacity: 0;
  transition: .3s;
}
#main_section:hover{
  opacity: 1;
}



/*SPEEDDIAL BUTTONS*/
.button{
  box-sizing: border-box;
  border: .05em solid gray;
  -webkit-border-radius: .55em;
  border-radius: .5em;
  padding-top: .18em;
  padding-bottom: .18em;
  margin: .5em;
  text-align: center;
  background-image: url(trans/buttonBack.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(0,0,0,0.40);
  max-width: 18.315%;
  width: 18.315%;
  cursor: pointer;
}
#main_section img{
  -webkit-border-radius: .5em;
  border-radius: .5em;
  width: 100%;
  opacity: .8;
  transition: 1s;
}
#main_section a img:hover{
  opacity: 1;
}



/*SPEEDDIAL BOTTOM ROW REFLECTION*/
.reflection{
  cursor: default;
  opacity: .2;
  transform: scaleY(-.4);
  transform-origin: center 25.7%;
  animation: reflection 24s infinite;
}
/*REFLECTION ANIMATION*/
@keyframes reflection{
  50% {transform: scaleY(-.6); transform-origin: center 35%;}
}



/*HOW THE SCHEDULE IS RENDERED*/
#main_section2{
  display: block;
}
#schedule{
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 70%;
  margin-left: 10%;
  color: #999;
}
.cell{
  box-sizing: border-box;
  border-radius: .3em;
  -webkit-border-radius: .3em;
  padding: .5em;
  margin-top: .15em;
  margin-bottom: .15em;
}
.cell li{
  list-style-type: none;
  margin: 2em;
  text-align: left;
  position: relative;
  left: 30%;
}
.cell li:nth-child(1){
  margin-top: 0;
}
.cell li:nth-last-child(1){
  margin-bottom: 0;
}
.parent{
  width: 100%;
  background-color: #222;
  font-weight: bold;
}
.child{
  width: 100%;
  background-color: #333;
  text-align: center;
}
.dropArrow{
  width: .8em;
  transition: .3s;
  transform: rotate(-90deg);
}
.inactive{
  transition: .2s;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.link{
  cursor: pointer;
}
.half-left{
  width: 49.85%;
  text-align: left;
}
.half-right{
  width: 49.85%;
  margin-left: .3%;
  text-align: left;
}
.button_basic{
  border-radius: .3em;
  -webkit-border-radius: .3em;
  padding: .5em;
  margin: .1em;
  background-color: #222;
  font-weight: bold;
}
#button_basic_container{
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto .5em;
  box-shadow: 0 .8em .6em -.8em black;
}

