*{
  font-size: 3.5vw;
}
body{
  background-size: 25%;
}
#back{
  height: unset;
}
#main_section{
  max-width: 100%;
  width: 100%;
  padding-top: 2.5em;
  opacity: 1;
}
#dropArrow{
  width: .8em;
}
.buttonLine{
  display: none;
}
.button{
  margin: .2em;
  max-width: 18.55%;
  width: 18.55%;
}
#schedule{
  margin-left: 1%;
  width: 79%;
}
#button_basic_container{
  max-width: 100%;
}
